*{
    margin: 0;
    padding: 0;
}

.imgContainer{
    height: 60vh;
    width: 100%;
    background-color: blue;
}

.leftImg{
    height: inherit;
    left: -25%;
    position: fixed;
}

.mainImg{
    height: inherit;
    left: 25%;
    position: fixed;
}

.rightImg{
    height: inherit;
    left: 75%;
    position: fixed;
}

.overlay{
    width: inherit;
    height: inherit;
    left: 0;
    position: fixed;
}