*{
  --bg-black: #1b1b1b;
}

#root {
  text-align: center;
}

h1 {
  color: white;
}

.mainPageBG{
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  left: 0;
}

.bannerContent{
  position: absolute;
  top: 7%;
  left: 10vw;
  height: 100vh;
}

#pageBody{
  background-color: var(--bg-black);
  width: 100vw;
  height: auto;
  margin-top: 80vh;
  padding-top: 20vh;
}

#gallery{
  display: flex;
  padding: 2vh 2vw;
  justify-content: center;
  flex-basis: content;
  gap: 20px;
  flex-wrap: wrap;
}

button{
  background-color: #3880ff !important;
  padding: 10px !important;
  border-radius: 5px !important;
  margin-right: 2px !important;
}

button:hover{
  background-color: #72a6ff !important;
  border-color: #72a6ff !important;
}

.cardSnapshot{
  object-fit: cover;
  width: 400px;
  height: 225px;
}

.cardName{
  margin: 0 0 !important;
  font-size:medium;
  padding: 0 !important;
}

.cardSubtext{
  font-weight: 600;
  font-size: small;
  margin: 0;
  margin: 10px 0;
}