*{
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#content{
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    margin-bottom: 100px;
}

h1{
    font-size: xxx-large;
}

h2{
    font-size: xx-large;
}

h3{
    font-size: x-large;
}

.header{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

a{
    display: block;
    width: fit-content;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    margin: 5px 0;

    font-size: medium;
    font-weight: bold;
    background-color: aquamarine;
    text-decoration: none;
    color: black;

    margin-left: auto;
    margin-right: auto;
}

a:hover{
    background-color: #63c9a7;
    cursor: pointer;
}

a:active{
    background-color: #48979c;
    color: white;
}

ul{
    margin-left: 20px;
    text-align: left;
}

li{
    font-size: large;
    margin-top: 10px;
}

#visual{
    display: block;
    margin-left:auto;
    margin-right: auto;
}

#vid1Routes{
    margin-top: 20px;
}

.col{
    text-align: center;
    padding: 0 5%;
    width: 100vw;
}

.flexContainer{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

.flexContainer a:first-child{
    margin-right: 20px;
}

.flexContainer a:last-child{
    margin-left: 20px;
}

.centering{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#title{
    font-size: 10vw;
    font-weight: 600;
}

#btn:visited{
    background-color: #69dab4;
}

#btn{
    margin-bottom: 10px;
}

@media only screen and (min-width:720px){
    #vid1Routes{
        display: flex;
    }

    .col{
        width: 50%;
    }

    #title{
        font-size: 3em
    }
}