*{
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    background-image: url("https://external-preview.redd.it/K7sturkBKFQXsWubMPSd9MaQW1oFLzDJ5fFFbQ0LyHc.png?auto=webp&s=510e234c04269fc1a4e20f5c9dcf7f7c1904bd40");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
}

.mainSection{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
}

.side{
    position: absolute;
    width: 24%;
    height: 90%;
    display: flex;
    justify-content: center;
}

.left{
    left: 0;
}

.right{
    right: 0;
}

.slot{
    border-color: cyan;
    border-style: dashed;
    width: 16vh;
    height: 100%;
    border-radius: 10px;
    border-width: 2px;
    margin-left: 3px;
    position: relative;
}

.row{
    width: fit-content;
    height: 25vh;
    display: flex;
    margin: auto;
    margin-top: 10px;
}

#player{
    margin-top: 20px;
}

.hand{
    margin-top: 0;
}

.selected{
    border-color: white;
    border-width: 4px;
    padding-top: 10px;
}

.card{
    border-style: solid;
    border-width: 2px;
    background-color: #0000005d;
}

.cardLabel{
    color: white;
    text-align: center;
    margin-top: 10%;
}

.HP{
    position: absolute;
    bottom: 10%;
    right: 20%;
    color: white;
    padding: 2%;
    padding-left: 7px;
    padding-right: 7px;
    background-color: green;
    border-radius: 25%;
}

.ATK{
    position: absolute;
    bottom: 10%;
    left: 20%;
    color: white;
    padding: 2%;
    padding-left: 7px;
    padding-right: 7px;
    background-color: red;
    border-radius: 25%;
}

.cardInfo{
    position: sticky;
    height: 60%;
    width: 70%;
    border-color: cyan;
    border-radius: 2.5%;
    margin: auto;
    margin-bottom: 2px;
    display: none;
}

.cancelBtn{
    position: sticky;
    height: fit-content;
    width: 65%;
    color: white;
    background-color: red;
    border-radius: 4px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    margin-top: 2px;
    text-align: center;
    display: none;
}

.right.side{
    display: flex;
    flex-direction: column;
    justify-content: center;
}