body{
    display: flex;
}

dashboard{
    display: unset;
    width: 70%;
}

input{
    width: 95%;
}

#tTitle{
    font-size: larger;
    margin-bottom: 20px;
}

#tDesc{
    font-size: large;
}

stack{
    width: 30%;
    text-align: center;
}

bottom{
    background-color: grey;
    display: block;
    height: 20px;
    width: 90%;
}