#gallery{
    padding: 10px 15vw;
    display: flex;
    flex-wrap: wrap;
    flex-basis: content;
    margin-left: auto;
    margin-right: auto;
}

.sectionTitle{
    color: white;
    margin: 10px 20px;
}

.item{
    margin: 20px 5px;
    background-color: silver;
    padding: 10px;
    border-radius: 5px;
    width: 400px;
}

.btn{
    background-color: #3880ff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 2px;

    color: white;
    font-weight: 600;
}

.btn:hover{
    background-color: #72a6ff;
    color: white;
}

.btn:active{
    background-color: #b1ceff;
    color: black;
}

.tagList{
    display: flex;
    margin: 4px 0;
}

.tag{
    background-color: #666666;
    color: white;
    padding: 3px;
    border-radius: 2px;
    margin: 1px 2px;
}

.item p{
    margin: 10px 0;
    font-weight: 600;
}

.item img{
    width: 400px;
    object-fit: cover;
}

.msg{
    font-size: small;
    font-weight: 100;
}

#construction{
    width: 100%;
    text-align: center;
    margin: 30px 0 80px 0;
    color: white;
}

#friends{
    display: flex;
    padding-top: 20px;
    padding-bottom: 40px;
}

.friend{
    width: 80px;
    height: 70px;
    padding: auto;
    margin-left: 10px;
}

.friend .pfp{
    width: 60px;
    height: 60px;
    border-radius: 40px;
}

.friend .username{
    color: white;
    font-weight: 600;
}

@media only screen and (min-width: 1500px){
    #gallery{
        padding: 10px 7vw;
    }
}

@media only screen and (min-width: 1880px){
    #gallery{
        padding: 10px 4.25vw;
    }
    
    .item{
        width: 400px;
    }

    .item img{
        width: 400px;
    }
}