*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    overflow-x: hidden;
    align-content: center;
    background-color: #1b1b1b;
}

#content{
    margin-top: 60px;
    height: 100vh;
    /* width: 100vw; */
    overflow: clip;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.bg-img{
    margin-top: 60px;
    height: 85vh;
    width: 100vw;
    margin-bottom: 10vh;
}

/* .test{
    width: 20vw;
    transform: rotate(45deg);
    transform: rotateZ(45deg);
} */

.top{
    display: block;
    background-color: black;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
}

#name{
    font-size: xx-large;
}

.top_text{
    color: white;
}

.top_sec{
    margin-left: 20px;
    padding: 30px;
}

.home_sec{
    padding: 22.5px;
    margin-right: 50px;
    margin-left: 40px;
}

.top_sec, .home_sec{
    width:fit-content;
}

.sec_title{
    padding: 40px 80px;
    font-size: 4vh;
    width: 100%;
    color: white;
    /* text-align: center; */
}

#proj_showcase{
    width: 80vw;
    margin: auto;
    display: block;
    padding: 80px 20px;
    background-color: black;
    border-radius: 20px;
}

#display{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.project{
    /* height: 70vh; */
    width: 60vw;
    border-radius: 10px;
}

.section{
    padding-bottom: 80px;
}