/* section label styling */
.sectionTitle{
    color: white;
    margin: 40px 20px;
    text-align: center;
}

/* project showcase */
#gallery{
    padding: 10px 15vw;
    display: flex;
    flex-wrap: wrap;
    flex-basis: content;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


/* individual project styling */
.item{
    margin: 20px 5px;
    background-color: silver;
    padding: 10px;
    border-radius: 5px;
    width: 400px;
}

.item .snapshot{
    width: 400px;
    object-fit: cover;
}

.item p{
    margin: 10px 0;
    font-weight: 600;
}

.msg{
    font-size: small;
    font-weight: 100;
}

.btn{
    background-color: #3880ff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 2px;

    color: white;
    font-weight: 600;
}

.btn:hover{
    background-color: #72a6ff;
    color: white;
}

.btn:active{
    background-color: #b1ceff;
    color: black;
}

.tagList{
    display: flex;
    margin: 4px 0;
}

.tag{
    background-color: #666666;
    color: white;
    padding: 3px;
    border-radius: 2px;
    margin: 1px 2px;
}


/* WIP styles */
#construction{
    width: 100%;
    text-align: center;
    margin: 80px 0 10px 0;
    color: white;
}


/* friends list styles */
#friends{
    display: flex;
    padding-top: 20px;
    padding-bottom: 40px;
    overflow: auto;
}

.friend{
    width: 80px;
    height: 70px;
    padding: auto;
    margin-left: 10px;
}

.friend .pfp{
    width: 60px;
    height: 60px;
    border-radius: 40px;
}

#idFooter{
    display: flex;
    justify-content: center;
}

.darkmode{
    filter: invert(90%) sepia(100%) hue-rotate(20deg);
}

/* adaptive formatting for different screen sizes */
@media only screen and (min-width: 1500px){
    #gallery{
        padding: 10px 7vw;
    }
}

@media only screen and (min-width: 1880px){
    #gallery{
        padding: 10px 4.25vw;
    }
    
    .item{
        width: 400px;
    }

    .item .snapshot{
        width: 400px;
    }
}

.top_sec:hover{
    cursor: pointer;
}

#expSection{
    padding-top: 30px;
    width: 100vw;
    padding-bottom: 50px;
    background-color: black;
}

#experience{
    display: flex;
    justify-content: center;
    height: 35vh;
    img{
        object-fit: cover;
        width: 30vw;
        height: 100%;
        border-radius: 5px;
        filter:saturate(70%);
    }
    img:hover{
        cursor:pointer;
        filter:saturate(1.5);
    }
}

#top{
    img{
        height: 40px;
        width: 40px;
    }

    .topLogo{
        filter: invert(100%);
    }
    
    .topPfp{
        border-radius: 20px;
        border: 0.1px #444444 solid;
        position: relative;
        left: -10px;
    }

    .accLink{
        margin-left: 50px;
        margin-right: 40px;
        margin-top: 20px;
    }

    .accLink:hover .topLogo{
        filter: invert(38%) sepia(91%) saturate(1062%) hue-rotate(69deg) brightness(92%) contrast(101%);
    }

    .accLink:hover{
        cursor: pointer;
    }

    h1{
        margin: 22.5px;
    }

    h1:hover{
        color: green;
    }
}

#resumeBtn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    
    color: white;
    background-color: #3880ff;
    padding: 10px 10px;
    border-radius: 5px;
    width: fit-content;
    display: flex;
    font-weight: 600;
    font-size: x-large;
    img{
        margin: 0 4px;
        width: 25px;
        height: 25px;
    }
}

#resumeBtn:hover{
    cursor: pointer;
    background-color: #72a6ff;
}
